@import './Sections/Left/style';
@import './Sections/Center/style';
@import './Sections/Right/style';

.landing-page {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 15% 40% auto;
  grid-template-rows: calc(95vh - 10px);
  background-color: var(--dark-background);
  padding: 5px;
  grid-gap: 5px;
}
